/* asterisk wildcard selector to override default styles added by the browser */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
/* Global CSS Variables*/
:root {
    --primary-bg-color: #1a1a1a; /* Dark grey*/
    --secondary-bg-color: #0d0d0d; /* Medium-dark gray*/
    --shadow-color: #3c3c3c; /* light gray */
    --border-color: #f5f5f5; /* White*/
    --primary-color: #f5f5f5; /* White */
    --secondary-color: #a5a5a5; /* Light gray */
    --font-family-primary: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif; /* Headings */
    --font-family-secondary: "Playfair Display", "Times New Roman", Times, serif; /* Body text*/
}

/* key frames for carousel*/
@keyframes blur {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(5px);
    }
}
@keyframes unblur {
    from {
        filter: blur(5px);
    }
    to {
        filter: blur(0);
    }
}

/* body */
body {
    /* generic styles*/
    background-color: var(--secondary-bg-color);
    color: var(--primary-color);
    font-family: var(--font-family-secondary);    
}
header {
    min-height: 100px;
    position: static;
}
label {
    scale: 80%;
}

/* Hidden rule*/
.hidden {
    display: none;
}

/* Headings */
h1, h2, h3 {
    font-family: var(--font-family-primary)
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--primary-color);
}

/* Navbar style with dropdown */
nav {
    background-color: var(--primary-bg-color);
    width: 100vh;
    max-height: 100px;
}   
.pad-10 {
    margin-right: 10px;
    margin-left: 10px;
}

section {
    min-height: 100px; /* Ensures space is held */
}
section .carousel {
    top: 100px;
    min-height: 400px;
}

section .container {
    align-items: center;

}

.logo {
    width: 100px;
    height: auto;
}

.about-me-p {
    text-align: center;
}

/* main */
main {

}

/* Carousel (Arashad) */
.carousel {
    min-height: 450px;
    position: relative;
}
.section-title {
    top: 0;
    min-height: 30px;
    text-align: center;
    
}

.container-carousel {
    width:1200px;
    max-width: 100%;
    height: 40vh;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
} 

.component{
    position: absolute;
    top: 200px;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    width:100%;
    box-sizing: border-box;
    overflow: hidden;
}
input.input {
    display:none;
}
.items {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:40vh;
    height: 250px;
    aspect-ratio: 3/4 ;
    margin: 0 auto;
    perspective: 1000px;
}

.item {
    position:absolute;
    width:300px;
    aspect-ratio: 3/4;
    border: 1px solid #555;
    border-radius: 10px;
    box-sizing: border-box;
    background: #333;
    box-shadow: 0 0 30px black;
    color:#eee;
    cursor: pointer;
    user-select: none ;
    overflow: hidden;
    transition: transform 0.7s;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav {
    display: flex;
    justify-content: center;
}
.dot {
    width:13px;
    height:13px;
    margin: 10px;
    border-radius: 50%;
    background: #444;
    cursor: pointer;
}
/* Style for navigation dots*/
    /* item 1*/
#item_1:checked~.nav label[for="item_1"] {
    background: #999;
    transform: scale(1.5);
    cursor: default;

}
#item_1:checked~.nav label[for="item_2"],
#item_1:checked~.nav label[for="item_3"],
#item_1:checked~.nav label[for="item_4"],
#item_1:checked~.nav label[for="item_5"] {
    background: #444;
    transform: scale(1);
    cursor: pointer;
}
#item_1:checked~.items label[for="item_1"] {
    animation: unblur 1s 1 forwards;
    z-index:3;
    cursor: default;
}
#item_1:checked~.items label[for="item_2"],
#item_1:checked~.items label[for="item_3"],
#item_1:checked~.items label[for="item_4"],
#item_1:checked~.items label[for="item_5"] {
    animation: blur 1s 1 forwards;
}
    /* change position inside the carousel*/
#item_1:checked~.items label[for="item_2"] {
    transform: translate3d(250px, 0, -100px) rotateY(-20deg);
    z-index: 2;
}
#item_1:checked~.items label[for="item_3"] {
    transform: translate3d(500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_1:checked~.items label[for="item_4"] {
    transform: translate3d(-500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_1:checked~.items label[for="item_5"] {
    transform: translate3d(-250px, 0, -100px) rotateY(20deg);
    z-index: 2;
}

    /* item 2 */
#item_2:checked~.nav label[for="item_2"] {
    background: #999;
    transform: scale(1.5);
    cursor: default;

}
#item_2:checked~.nav label[for="item_1"],
#item_2:checked~.nav label[for="item_3"],
#item_2:checked~.nav label[for="item_4"],
#item_2:checked~.nav label[for="item_5"] {
    background: #444;
    transform: scale(1);
    cursor: pointer;
}
#item_2:checked~.items label[for="item_2"] {
    animation: unblur 1s 1 forwards;
    z-index:3;
    cursor: default;
}
#item_2:checked~.items label[for="item_1"],
#item_2:checked~.items label[for="item_3"],
#item_2:checked~.items label[for="item_4"],
#item_2:checked~.items label[for="item_5"] {
    animation: blur 1s 1 forwards;
}
    /* change position inside the carousel*/
#item_2:checked~.items label[for="item_3"] {
    transform: translate3d(250px, 0, -100px) rotateY(-20deg);
    z-index: 2;
}
#item_2:checked~.items label[for="item_4"] {
    transform: translate3d(500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_2:checked~.items label[for="item_5"] {
    transform: translate3d(-500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_2:checked~.items label[for="item_1"] {
    transform: translate3d(-250px, 0, -100px) rotateY(20deg);
    z-index: 2;
}

    /* item 3 */
#item_3:checked~.nav label[for="item_3"] {
    background: #999;
    transform: scale(1.5);
    cursor: default;

}
#item_3:checked~.nav label[for="item_1"],
#item_3:checked~.nav label[for="item_2"],
#item_3:checked~.nav label[for="item_4"],
#item_3:checked~.nav label[for="item_5"] {
    background: #444;
    transform: scale(1);
    cursor: pointer;
}
#item_3:checked~.items label[for="item_3"] {
    animation: unblur 1s 1 forwards;
    z-index:3;
    cursor: default;
}
#item_3:checked~.items label[for="item_1"],
#item_3:checked~.items label[for="item_2"],
#item_3:checked~.items label[for="item_4"],
#item_3:checked~.items label[for="item_5"] {
    animation: blur 1s 1 forwards;
}
    /* change position inside the carousel*/
#item_3:checked~.items label[for="item_4"] {
    transform: translate3d(250px, 0, -100px) rotateY(-20deg);
    z-index: 2;
}
#item_3:checked~.items label[for="item_5"] {
    transform: translate3d(500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_3:checked~.items label[for="item_1"] {
    transform: translate3d(-500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_3:checked~.items label[for="item_2"] {
    transform: translate3d(-250px, 0, -100px) rotateY(20deg);
    z-index: 2;
}

    /* item 4*/
#item_4:checked~.nav label[for="item_4"] {
    background: #999;
    transform: scale(1.5);
    cursor: default;

}
#item_4:checked~.nav label[for="item_1"],
#item_4:checked~.nav label[for="item_2"],
#item_4:checked~.nav label[for="item_3"],
#item_4:checked~.nav label[for="item_5"] {
    background: #444;
    transform: scale(1);
    cursor: pointer;
}
#item_4:checked~.items label[for="item_4"] {
    animation: unblur 1s 1 forwards;
    z-index:3;
    cursor: default;
}
#item_4:checked~.items label[for="item_1"],
#item_4:checked~.items label[for="item_2"],
#item_4:checked~.items label[for="item_3"],
#item_4:checked~.items label[for="item_5"] {
    animation: blur 1s 1 forwards;
}
    /* change position inside the carousel*/
#item_4:checked~.items label[for="item_5"] {
    transform: translate3d(250px, 0, -100px) rotateY(-20deg);
    z-index: 2;
}
#item_4:checked~.items label[for="item_1"] {
    transform: translate3d(500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_4:checked~.items label[for="item_2"] {
    transform: translate3d(-500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_4:checked~.items label[for="item_3"] {
    transform: translate3d(-250px, 0, -100px) rotateY(20deg);
    z-index: 2;
}

    /* item 5*/
#item_5:checked~.nav label[for="item_5"] {
    background: #999;
    transform: scale(1.5);
    cursor: default;

}
#item_5:checked~.nav label[for="item_1"],
#item_5:checked~.nav label[for="item_2"],
#item_5:checked~.nav label[for="item_3"],
#item_5:checked~.nav label[for="item_4"] {
    background: #444;
    transform: scale(1);
    cursor: pointer;
}
#item_5:checked~.items label[for="item_5"] {
    animation: unblur 1s 1 forwards;
    z-index:3;
    cursor: default;
}
#item_5:checked~.items label[for="item_1"],
#item_5:checked~.items label[for="item_2"],
#item_5:checked~.items label[for="item_3"],
#item_5:checked~.items label[for="item_4"] {
    animation: blur 1s 1 forwards;
}
    /* change position inside the carousel*/
#item_5:checked~.items label[for="item_1"] {
    transform: translate3d(250px, 0, -100px) rotateY(-20deg);
    z-index: 2;
}
#item_5:checked~.items label[for="item_2"] {
    transform: translate3d(500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_5:checked~.items label[for="item_3"] {
    transform: translate3d(-500px, 0, -200px) rotateY(-20deg);
    z-index: 1;
}
#item_5:checked~.items label[for="item_4"] {
    transform: translate3d(-250px, 0, -100px) rotateY(20deg);
    z-index: 2;
}
/* End of Carousel (Arashad) */

/* Style Form */
form h1 {
    background-color: var(--secondary-color);
    color: var(--primary-bg-color);
    text-size-adjust: 150%;
}

/* footer */
footer {
    background-color: var(--primary-bg-color);
    width: 100%;
}
#social-links{
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-links i {
    font-size: 160%;
    padding: 5%;
    color:var(--primary-color);
}

    /* Gallery page */
.photos img {
    max-height: 400px;
    line-height: 1em;  

}
.photos {
    line-height: 0;
    display: flex;
    flex-wrap: wrap;
}
/* Gallery page*/
.gallery {
    column-count: 3;
}

    /* About me page*/
